body {
  text-align: center;
  background-color: #FAF8F4;
}

.fullwidth {
  margin: 0;
  width: 100%;
  padding: 30px;
  background-color: #F4F1EA;
}

.fullwidth-white {
  margin: 0;
  width: 100%;
  padding: 30px;
  background-color: white;
}

.link, .link:hover {
  color: #000000;
  text-decoration: none;
}
.iswearimnotabutton {
    background:none!important;
    border:none;
    padding:0!important;
}
.hoverboi:hover {
   background: #f0f0f0;
}
td a {
   display: block;
   padding: 16px;
   color: black;
   text-decoration: none;
}
td a:hover {
   color: black;
   text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #382110;
}
